.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: #02afa1;
  border-color: #02afa1;
}

.newsletter {
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #dafff7;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font: inherit;
  cursor: pointer;
}

.newsletter :hover,
.newsletter :active {
  background-color: #02afa1;
  border-color: #02afa1;
}

.invertedButton {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: #03be9f;
  border: 1px solid #cecece;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.invertedButton:hover,
.inverdedButton:active {
  background-color: #dcfff9;
}

.disabledButton,
.disabledButton:hover,
.disabledButton:active {
  background-color: lightblue;
  color: rgb(123, 123, 123);
  border-color: 1px solid #ccc;
  cursor: wait;
}
